.close {
  height: 20px;
  width: 20px;
  float: right;
  margin-right: 5px;
  cursor: pointer;
}

.sticker {
  font-size: 1.3rem;
  height: 100%;
}

.active {
  background-color: darkcyan;
}

h3 {
  margin: 0
}
