.positions-list-container {
  text-align: center;
  max-height: 650px;
  overflow-y: auto;
  display: flex;
  justify-content: center;


  .positions-list {
    list-style: none;
    margin: 0;
    padding: 0;

    .position-element {
      border: 1px solid black;
      height: 100px;
      width: 200px;
      border-radius: 10px;
      background: antiquewhite;
      margin-bottom: 15px;
      cursor: pointer;
      overflow: hidden;
    }
  }
}
